*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}


html body {
    background-color: var(--violet);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
}
.logo {
    width: 35%;
    max-width: 200px;
    margin-top: 4vh;
}
.illustration {
    width: 80%;
    max-width: 1200px;
    margin-top: 7vh;
}

main {
    margin-top: 7vh;
    width: 80%;
    display: inherit;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5vh;
}
p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
}

button {
    margin: 3vh 0 5vh 0;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: var(--violet);
    font-size: .8rem;
    height: 2.2rem;
    width: 12rem;
    align-self: center;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    outline: none;
}
button:hover {
    background-color: var(--soft-magenta);
    color: white;
}
.social-media-icons {
    margin-top: 2vh;
    display: flex;
    width: 80%;
    justify-content: center;
}
.social-media {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 1.5vw;
    font-size: 12px;
}
.social-media:hover {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--soft-magenta);
    color: var(--soft-magenta);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5vw;
    font-size: 12px;
}

@media only screen and (min-width: 769px) {
   html body {
    background-image: url("./images/bg-desktop.svg");
       display: grid;
       grid-template: 10vh 80vh 5vh/55vw 45vw;
   }
   .illustration {
       grid-row: 2/3 ;
       margin: auto;
   }
   .logo {
       margin: 5rem 0 0 5rem;
   }
   main {
       grid-row: 1/3;
       margin: 35vh 0;
       
   }
   .social-media-icons {
       grid-column: 2/3;
       grid-row: 3/4;
       margin: 0;
       display: flex;
       justify-content:flex-end;
   }
   p,
   h1 {
       text-align: left;
   }
   h1 {
       font-size: 2.5vw;
   }
   p {
       font-size: 1.25vw;
   }
   button {
    height: 4rem;
    width: 14rem;
    font-size: 1.5vw;
   }
   .social-media {
    height: 35px;
    width: 35px;
    font-size: 20px;
    margin: 1rem;
   }
   .social-media:hover {
    height: 35px;
    width: 35px;
    font-size: 20px;
    margin: 1rem;
   }

}